<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Education</h1>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/laptop.jpg"></ion-img>
      <div class="card-subtitle">
        <strong>BBA in Business information Technology</strong>         
        Laurea University of Applied Science<br>
        GPA 4.54
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/soft" class="ios" tab="soft">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label class='labeli'>soft skills</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/personal-project" class="ios" tab="personal-project">
              <ion-icon name="arrow-forward"></ion-icon>
              <ion-label class='labeli'>personal project</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
