<!--
  Mikko Karhavirta 1900645
  Header and bottom bar from tabs.page.html
  ion-content follows ion-header and in the tabs.page.html the "slot-bottom"
  places the bottom bar to it's palce after the content.
  Content layout with card layout
  Starting with card-header which states the name of the page/tab
  Following card-content
  The content holds a picture, a div-element named card subtitle and 
  a grid with two columns for the carousel navigation arrows.
-->

<!--Content-->
<ion-content>
  <!--Card-->
  <ion-card>
    <!--Card header-->
    <ion-card-header>
      <h1 class="ion-text-center">Education</h1>
    </ion-card-header>
    <!--Card content-->
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/laptop.jpg"></ion-img>
      <div class="card-subtitle">
        <strong>BBA in Business information Technology</strong>         
        Laurea University of Applied Science<br>
        GPA 4.54
      </div>
      <!--Grid for carousel navigation arrows-->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/soft" class="ios" tab="soft">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label class='labeli'>soft skills</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/personal-project" class="ios" tab="personal-project">
              <ion-icon name="arrow-forward"></ion-icon>
              <ion-label class='labeli'>personal project</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
