<!--
  Mikko Karhavirta 1900645
  Header and bottom bar from tabs.page.html
  ion-content follows ion-header and in the tabs.page.html the "slot-bottom"
  places the bottom bar to it's palce after the content.
  Content layout with card layout
  Starting with card-header which states the name of the page/tab
  Following card-content
  The content holds a picture, a div-element named card subtitle and 
  a grid with two columns for the carousel navigation arrows.
-->


<!--Content-->
<ion-content>
  <!--Card-->
  <ion-card>
    <!--Card header-->
    <ion-card-header>
      <h1 class="ion-text-center">Hobbies</h1>
    </ion-card-header>
    <!--Card content-->
    <ion-card-content class="card-background-page">
      <img src="../assets/sumiko-pieni.jpg"/>
      <div class="card-title"></div>
      <div class="card-subtitle">My hobbies include, in addition to coding, rc-cars,
      vintage hifi components and collecting vinyl records.
    </div>
    <!--Grid for carousel navigation arrows-->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-tab-button   routerLinkActive="tab-selected" routerLink="/extra-activities" class="ios" tab="extra-activities">
            <ion-icon name="arrow-back"></ion-icon>
            <ion-label class='labeli'>extra-activities</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col size="6">
          <ion-tab-button   routerLinkActive="tab-selected" routerLink="/contact" class="ios" tab="contact">
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label class='labeli'>contact</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
      
      
    </ion-card-content>

   </ion-card>
</ion-content>

