<!--
  Header and bottom bar from tabs.page.html
  ion-content follows ion-header and in the tabs.page.html the "slot-bottom"
  places the bottom bar to it's palce after the content.
  Content layout with card layout
  Starting with card-header which states the name of the page/tab
  Following card-content
  The content holds a picture, a header (h1), then a paragraph (p) 
  with the text information and finally a grid with two columns
  for the carousel navigation arrows.
-->

<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Contact</h1>
    </ion-card-header>
    <ion-card-content>
      <img src="../assets/contact.jpg"/>
      <h1>Mikko Karhavirta</h1>
      <p> 
        Address:<br><br>
        tel.<br><br>
        e-mail: 
        <a href = "mailto:mikko.karhavirta@student.laurea.fi">mikko.karhavirta<br>@student.laurea.fi</a><br>
      </p>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/hobbies" class="ios" tab="hobbies">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label class='labeli'>hobbies</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
              <ion-icon name="arrow-forward"></ion-icon>
              <ion-label class='labeli'>home</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
    </ion-card-content>

   </ion-card>
</ion-content>

