<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Contact</h1>
    </ion-card-header>
    <ion-card-content class="card-background-page">
      <img src="../assets/contact.jpg"/>
      <h1>Mikko Karhavirta</h1>
      <p> 
        Address:<br><br>
        tel.<br><br>
        e-mail: 
        <a href = "mailto:mikko.karhavirta@student.laurea.fi">mikko.karhavirta<br>@student.laurea.fi</a><br>
        </p>
 
      
      
    </ion-card-content>

   </ion-card>
</ion-content>

