ion-title{
    color: ghostwhite;
};

ion-icon{
    color: magenta;
};

div{
    text-align: center;
    align-items: center;
}

ion-item {
    --background: transparent;
    --ion-color-base: transparent !important;
   };

   
   

