
<ion-tabs>

    

    <ion-header>
      <ion-toolbar color="primary">
        <ion-grid>
          <ion-row>
            <ion-col  size-md="3" size-lg="2" size-xs="3">
              <ion-tab-button tab="tab2">
                <ion-icon name="menu"></ion-icon>
              </ion-tab-button>
            </ion-col>
            <ion-col size-md="9" size-lg="9" size-xs="9">
              <ion-title>Mikko's CV</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>  

    

  


<!--  
<ion-buttons>-->
  
    
    
        
<!--</ion-buttons>-->

  

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logoutUser()">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

