<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Team Project</h1>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/team.jpg"></ion-img>
      <div class="card-subtitle">
        The studies have offered many interesting team projects.<br>
        The most interesting and demanding was a service design project for<br>
        Coor Service Management Oy where I acted as the project manager.<br> 
        Other significant projects during the studies have been a service<br>
        design project for an accounting/it-company Tilikauha Oy and a<br>
        research/innovation project on corporate social responsibility issuses<br>
        regarding the Finnish tea house Nordqvist.<br><br>
        Also, <a href="http://www.rc-ratakeskus.com" target="_blank">RC-Ratakeskus</a>, while being<br>
        in a way my private project could not have been realized without the<br>
        cooperation with the peer groups and the help from my family.
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>
