<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Team Project</h1>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/team.jpg"></ion-img>
      <div class="card-subtitle">
        The studies have offered many interesting team projects.<br>
        The most interesting and demanding was a service design project for
        Coor Service Management Oy where I acted as the project manager.<br> 
        Other significant projects during the studies have been a service
        design project for an accounting/it-company Tilikauha Oy and a
        research/innovation project on corporate social responsibility issuses
        regarding the Finnish tea house Nordqvist as well as many rewarding
        programming projects.<br><br>
        Also, <a href="http://www.rc-ratakeskus.com" target="_blank">RC-Ratakeskus</a>, while being<br>
        in a way my private project could not have been realized without the<br>
        cooperation with the peer groups and the help from my family.
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/personal-project" class="ios" tab="personal-project">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label class='labeli'>personal project</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/extra-activities" class="ios" tab="extra-activities">
              <ion-icon name="arrow-forward"></ion-icon>
              <ion-label class='labeli'>extra activities</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
