<!--
  This page acts as thge drop dow menu.
  The header and the bottom bar come from the tabs.page.html.
  The page consists of a buttons list with direct navigation 
  links to each page.
  The items are bound together to a tab-button to allow navigation, 
  then to a button item to make them visible in the buttons list.
-->

  <!--Content-->
  <ion-content>
    <!--Buttons-->     
    <ion-buttons>
      <!--List-->
      <ion-list>
        <!--Menu toggle to show the contents of the menu-->
      <ion-menu-toggle auto-hide="false">
        <ion-tab-button tab="home">
          <ion-item button>
           <ion-icon slot="start" name='home'></ion-icon>
            <ion-label>
             Home
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-item button>
            <ion-icon slot="start" name='person'></ion-icon>
            <ion-label>
              Profile
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="technical">
           <ion-item button>
             <ion-icon slot="start" name='calculator'></ion-icon>
             <ion-label>
               Technical Skills
             </ion-label>
           </ion-item>
        </ion-tab-button>        
        <ion-tab-button tab="soft">
          <ion-item button>
           <ion-icon slot="start" name='chatbubble'></ion-icon>
            <ion-label>
             Soft Skills
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="education">
          <ion-item button>
            <ion-icon slot="start" name='school'></ion-icon>
            <ion-label>
              Education
            </ion-label>
          </ion-item>
       </ion-tab-button>
        <ion-tab-button tab="personal-project">
          <ion-item button>
           <ion-icon slot="start" name='paper-plane'></ion-icon>
            <ion-label>
             Personal Project
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="team-project">
          <ion-item button>
           <ion-icon slot="start" name='people'></ion-icon>
            <ion-label>
             Team Project
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="extra-activities">
          <ion-item button>
           <ion-icon slot="start" name='construct'></ion-icon>
            <ion-label>
             Extra Activities
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="hobbies">
          <ion-item button>
           <ion-icon slot="start" name='headset'></ion-icon>
            <ion-label>
             Hobbies
            </ion-label>
          </ion-item>
        </ion-tab-button>
        <ion-tab-button tab="contact">
          <ion-item button>
           <ion-icon slot="start" name='mail'></ion-icon>
            <ion-label>
             Contact
            </ion-label>
          </ion-item>
        </ion-tab-button>
      </ion-menu-toggle>
    </ion-list>
  </ion-buttons>    
</ion-content>  

