
<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Tab 1
    </ion-title>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>
-->

    <ion-header>

      
      <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Mikko's CV</ion-title>
       
        <ion-content>
          <ion-menu>
          <ion-buttons>
            <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-tab-button tab="home">
                <ion-item button>
                 <ion-icon slot="start" name='home'></ion-icon>
                  <ion-label>
                   Home
                  </ion-label>
                </ion-item>
              </ion-tab-button>
              <ion-tab-button tab="profile">
                <ion-item button>
                  <ion-icon slot="start" name='person'></ion-icon>
                  <ion-label>
                    Profile
                  </ion-label>
                </ion-item>
              </ion-tab-button>
              <ion-tab-button tab="technical">
                 <ion-item button>
                   <ion-icon slot="start" name='calculator'></ion-icon>
                   <ion-label>
                     Technical Skills
                   </ion-label>
                 </ion-item>
              </ion-tab-button>
            </ion-menu-toggle>
          </ion-list>
        </ion-buttons>
          
      </ion-menu>
         
        </ion-content>
     
      </ion-toolbar>
    </ion-header>
    


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      <ion-buttons slot="start">
       
      </ion-buttons> 
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
