<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Extra Curricular<br>Activities</h1>
    </ion-card-header>
    <ion-card-content class="card-background-page">
      <img src="../assets/union-pink.png"/>
      <div class="card-title"></div>
      <div class="card-subtitle">
        I have acted as the job safety delegate and deputy shop steward at Posti Oyj.<br>
        I have also acted as the translator for our local union chapter.
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/team-project" class="ios" tab="team-project">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label class='labeli'>team project</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/hobbies" class="ios" tab="hobbies">
              <ion-icon name="arrow-forward"></ion-icon>
              <ion-label class='labeli'>hobbies</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
    </ion-card-content>

   </ion-card>
</ion-content>
