<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Extra Curricular<br>Activities</h1>
    </ion-card-header>
    <ion-card-content class="card-background-page">
      <img src="../assets/union-pink.png"/>
      <div class="card-title"></div>
      <div class="card-subtitle">
        I have acted as the job safety delegate and deputy shop steward at Posti Oyj.<br>
        I have also acted as the translator for our local union chapter.
      </div>
 
      
      
    </ion-card-content>

   </ion-card>
</ion-content>
