<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Profile</h1>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/naama.png"></ion-img>
      <div class="card-subtitle">
        Hi. I am Mikko Karhavirta a 3rd year Bachelor of Business Administration<br>
            student at Laurea UAS. I am currently specializing in Business Information Technology.<br>
            Previously I have worked in logistics and as an entrepreneur.
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>
