<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Profile</h1>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/naama.png"></ion-img>
      <div class="card-subtitle">
        Hi. I am Mikko Karhavirta a 3rd year Bachelor of Business Administration<br>
            student at Laurea UAS. I am currently specializing in Business Information Technology.<br>
            Previously I have worked in logistics and as an entrepreneur.
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label class='labeli'>home</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/technical" class="ios" tab="technical">
              <ion-icon name="arrow-forward"></ion-icon>
              <ion-label class='labeli'>tech skills</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
