<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 class="ion-text-center">Personal Project</h1>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-img src="./assets/rc.gif"></ion-img>
      <div class="card-subtitle">
        My rc-car hobby has led me to run my own recreational business
        <a href="http://www.rc-ratakeskus.com" target="_blank">RC-Ratakeskus</a>.<br>
        Due to Covid-19 the company has ended the active "on premises" type of service<br>
        and now provides rc-car activities on reservtion in the customer's premises. 
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>
