<!--
  Mikko Karhavirta 1900645
  Header and bottom bar from tabs.page.html
  ion-content follows ion-header and in the tabs.page.html the "slot-bottom"
  places the bottom bar to it's palce after the content.
  Content layout with card layout
  Starting with card-header which states the name of the page/tab
  Following card-content
  The content holds a picture, a div-element named card subtitle which holds
  also the progress bars to visualize the skills and 
  a grid with two columns for the carousel navigation arrows.
-->

<!--Content-->
<ion-content>
  <!--Card-->
  <ion-card class="card-background-page">
    <!--Card header-->
    <ion-card-header>
      <h1 class="ion-text-center">Technical Skills</h1>
    </ion-card-header>
    <!--Card content-->
    <ion-card-content>
      <img src="../assets/coding.png"/>
        <div class="card-subtitle">
          Java<br>
          <ion-progress-bar value="0.85"></ion-progress-bar><br />
          Git<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          HTML/CSS/Javascript<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          Ionic Framework<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          MySQL<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          C++<br>
          <ion-progress-bar value="0.5"></ion-progress-bar><br />
        </div>
        <!--Grid for carousel navigation arrows-->
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/profile" class="ios" tab="profile">
                <ion-icon name="arrow-back"></ion-icon>
                <ion-label class='labeli'>profile</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col size="6">
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/soft" class="ios" tab="soft">
                <ion-icon name="arrow-forward"></ion-icon>
                <ion-label class='labeli'>soft skills</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>
</ion-content>
