<ion-content>
  <ion-card class="card-background-page">
    <ion-card-header>
      <h1 class="ion-text-center">Technical Skills</h1>
    </ion-card-header>
    <ion-card-content>
      <img src="../assets/coding.png"/>
        <div class="card-subtitle">
          Java<br>
          <ion-progress-bar value="0.85"></ion-progress-bar><br />
          Git<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          HTML/CSS/Javascript<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          Ionic Framework<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          MySQL<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          C++<br>
          <ion-progress-bar value="0.5"></ion-progress-bar><br />
        </div>
      </ion-card-content>
  </ion-card>
</ion-content>
