<ion-content>
  <ion-card class="card-background-page">
    <ion-card-header>
      <h1 class="ion-text-center">Technical Skills</h1>
    </ion-card-header>
    <ion-card-content>
      <img src="../assets/coding.png"/>
        <div class="card-subtitle">
          Java<br>
          <ion-progress-bar value="0.85"></ion-progress-bar><br />
          Git<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          HTML/CSS/Javascript<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          Ionic Framework<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          MySQL<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          C++<br>
          <ion-progress-bar value="0.5"></ion-progress-bar><br />
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/profile" class="ios" tab="profile">
                <ion-icon name="arrow-back"></ion-icon>
                <ion-label class='labeli'>profile</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col size="6">
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/soft" class="ios" tab="soft">
                <ion-icon name="arrow-forward"></ion-icon>
                <ion-label class='labeli'>soft skills</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>
</ion-content>
