
  <!--
    The page contains the layout for the content of the page.
    The contents of the header and bottom tab are managed in the tabs html file.
    The page layout is contained in a card item.

    The home page holds the menu for the application.
    The contents are displayed in a grid with icons and description.
    The icon and label are bound together in a tab-button item which
    holds the icon and label in question and binds them to a single button.
  -->  

  <!--Content-->
<ion-content>
  <!--Card-->
  <ion-card>
    <!--Card header-->
    <ion-card-header>
      <h1 class="ion-text-center">Contents</h1>
    </ion-card-header>
    <!--Card content-->
    <ion-card-content class="ion-text-center">
      <!--Grid for direct navigation icons-->
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col class='profile' align-self-center size-md="6" size-lg="5" size-xs="6">
            <div  padding>
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/profile" class="ios" tab="profile">
                <ion-icon name="person"></ion-icon>
                <ion-label class='labeli'>profile</ion-label>
              </ion-tab-button>
            </div>           
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
           <div padding>
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/technical" class="ios" tab="technical">
              <ion-icon name="calculator"></ion-icon>
              <ion-label class='labeli'>tech skills</ion-label>
            </ion-tab-button>
           </div>
          </ion-col>         
        </ion-row>
        <ion-row justify-content-center>
          <ion-col class='profile' align-self-center size-md="6" size-lg="5" size-xs="6">
            <div  padding>
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/soft" class="ios" tab="soft">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-label class='labeli'>soft skills</ion-label>
              </ion-tab-button>
            </div>           
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
           <div padding>
            <ion-tab-button   routerLinkActive="tab-selected" routerLink="/education" class="ios" tab="education">
              <ion-icon name="school"></ion-icon>
              <ion-label class='labeli'>education</ion-label>
            </ion-tab-button>
           </div>
          </ion-col>         
        </ion-row>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
            <div padding>
             <ion-tab-button   routerLinkActive="tab-selected" routerLink="/personal-project" class="ios" tab="personal-project">
               <ion-icon name="paper-plane"></ion-icon>
               <ion-label class='labeli'>personal<br>project</ion-label>
             </ion-tab-button>
            </div>
           </ion-col>    
          <ion-col class='profile' align-self-center size-md="6" size-lg="5" size-xs="6">
            <div  padding>
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/team-project" class="ios" tab="team-project">
                <ion-icon name="people"></ion-icon>
                <ion-label class='labeli'>team project</ion-label>
              </ion-tab-button>
            </div>           
          </ion-col>   
        </ion-row>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
            <div padding>
             <ion-tab-button   routerLinkActive="tab-selected" routerLink="/extra-activities" class="ios" tab="extra-activities">
               <ion-icon name="construct"></ion-icon>
               <ion-label class='labeli'>extra<br>activities</ion-label>
             </ion-tab-button>
            </div>
           </ion-col>   
          <ion-col class='profile' align-self-center size-md="6" size-lg="5" size-xs="6">
            <div  padding>
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/hobbies" class="ios" tab="hobbies">
                <ion-icon name="headset"></ion-icon>
                <ion-label class='labeli'>hobbies</ion-label>
              </ion-tab-button>
            </div>           
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>

</ion-content>

