<!--
  Mikko Karhavirta 1900645
  Header and bottom bar from tabs.page.html
  ion-content follows ion-header and in the tabs.page.html the "slot-bottom"
  places the bottom bar to it's palce after the content.
  Content layout with card layout
  Starting with card-header which states the name of the page/tab
  Following card-content
  The content holds a picture, a div-element named card subtitle which holds
  also the progress bars to visualize the skills and 
  a grid with two columns for the carousel navigation arrows.
-->

<!--Content-->
<ion-content>
  <!--Card-->
  <ion-card class="card-background-page">
    <!--Card header-->
    <ion-card-header>
      <h1 class="ion-text-center">Soft Skills</h1>
    </ion-card-header>
    <!--Card content-->
    <ion-card-content>
      <img src="../assets/board.jfif"/>
        <div class="card-subtitle">
          Customer Service<br>
          <ion-progress-bar class="proge" value="0.95"></ion-progress-bar><br />
          Communication<br>
          <ion-progress-bar value="0.9"></ion-progress-bar><br />
          Lean Management<br>
          <ion-progress-bar value="0.7"></ion-progress-bar><br />
          Project Management<br>
          <ion-progress-bar value="0.85"></ion-progress-bar><br />
          Leadership<br>
          <ion-progress-bar value="0.5"></ion-progress-bar><br />
        </div>
        <!--Grid for carousel navigation arrows-->
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/technical" class="ios" tab="technical">
                <ion-icon name="arrow-back"></ion-icon>
                <ion-label class='labeli'>tech skills</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col size="6">
              <ion-tab-button   routerLinkActive="tab-selected" routerLink="/education" class="ios" tab="education">
                <ion-icon name="arrow-forward"></ion-icon>
                <ion-label class='labeli'>education</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
  </ion-card>
</ion-content>
