h1{
    color: ghostwhite;
}

.card-subtitle{
    font-weight: bold;
    color:  ghostwhite;    
};

ion-progress-bar{
    height: 20px; 
    --background:  #3e4041;
    --buffer-background: ghostwhite;
    --progress-background: magenta;
  
};
